{{>partials/header}}

<h3>Olá {{firstName}} {{lastName}}, Tudo bem?

    {{#showOld}}
        Como vai a vida?
    {{/showOld}}
    {{^showOld}}
        Beleza, véiu!!!
    {{/showOld}}

{{>partials/footer}}